# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/.idea.Covid Cannot Stop Me.iml
/modules.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../:\Unity\Project Game Covid\Covid Cannot Stop Me\.idea\.idea.Covid Cannot Stop Me\.idea/dataSources/
/dataSources.local.xml
