# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/.idea.Covid-Cannot-Stop-Me-master.iml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../:\Unity\Covid Project Backup\Covid-Cannot-Stop-Me-master\.idea\.idea.Covid-Cannot-Stop-Me-master\.idea/dataSources/
/dataSources.local.xml
